@import "../../app/variables.scss";

.footer {
  border-top: 2px $lightGrey solid;

  .footerInner {
    width: $desktop;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;

    .left {
      h5 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      h5,
      span {
        display: block;
      }
    }
    .right {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
          margin-right: 15px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            font-weight: 300;
            font-size: 18px;
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
