@import "../variables.scss";
@import "../shared.scss";

.blogList {
  .blogListInner {
    width: $mid;
    margin: 0 auto;
  }

  @include midDown {
    .blogListInner {
      width: 100%;
      padding: 0 $gutter;
    }
  }
}
