@import "../variables.scss";
@import "../shared.scss";

.blogList {
  .blogListInner {
    width: $mid;
    margin: 0 auto;
  }

  @include midDown {
    .blogListInner {
      width: $small;
      padding: 0 $gutter;
    }
  }
  @include smallDown {
    .blogListInner {
      width: 100%;
    }
  }
}
