@import "../../app/variables.scss";
@import "../../app/shared.scss";
@import "../../app/mixins.scss";

.homeHero {
  .homeHeroInner {
    width: $desktop;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .right {
      img {
      }
    }
  }

  @include desktopDown {
    .homeHeroInner {
      width: 100%;
      padding: 25px $gutter 50px $gutter;
    }
  }
  @include midDown {
    .homeHeroInner {
      .left,
      .right {
        width: 50%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  @include smallDown {
    .homeHeroInner {
      flex-direction: column;

      .left,
      .right {
        width: 100%;

        img {
          display: block;
          max-width: 100%;
          margin-top: 50px;
        }
      }
    }
  }
}
