@import "../../app/variables.scss";
@import "../../app/shared.scss";
@import "../../app/mixins.scss";

.homeHero {
  .homeHeroInner {
    width: $desktop;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .right {
      img {
      }
    }
  }

  @include desktopDown {
    .homeHeroInner {
      width: 100%;
      flex-direction: column;
      padding: 25px $gutter 50px $gutter;

      .right {
        img {
          display: block;
          max-width: 100%;
          height: auto;
          margin-top: 50px;
        }
      }
    }
  }
}
